:root {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: 400;

  margin: 0 auto;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo-wrapper {
  color: #0099bb;
}
